/** @format */

.user-portal-logo {
  font-family: var(--logo-font);
  font-size: 130%;
}

.login-panel {
  background: var(--blue);
}

@media (max-width: 767px) {
  .login-panel {
    line-height: 2.5;
  }
}

.user-portal-link {
  padding: 20px;
}
