/** @format */

.popup-container-cookies {
  position: relative;
  z-index: 20;
}

.popup-cookies {
  background: rgba(63, 63, 63, 0.842);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  font-size: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.popup-google-note {
  font-size: 15px;
}

.popup-link {
  color: var(--blue);
}

.popup-link:hover,
.popup-link:focus,
.popup-link:active {
  color: #2bbbad;
}

.popup-accept-btn:hover,
.popup-accept-btn:active,
.popup-accept-btn:focus {
  background: var(--blue) !important;
}
