/** @format */

.popup-container {
  position: relative;
}

.popup {
  background: rgba(63, 63, 63, 0.842);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.popup-img {
  width: 80vw;
  height: 80vh;
  margin: auto;
  border: 2px black solid;
}

@media (min-width: 1000px) {
  .popup-img {
    width: 40vw;
  }
}

/* sample map img */
/* https://coding-video.s3.eu-west-2.amazonaws.com/mapimg.JPG */
