/** @format */

.blog-post-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-subtitle {
  font-size: 20px;
}

.blog-post-img {
  width: 80vw;
  margin: 20px;
}

.blog-post-content {
  width: 80vw;
}

.blog-post-comment-card {
  width: 60vw;
  margin: 20px;
  padding: 20px;
}

.add-blog-comment-form {
  padding: 50px;
}
