.featured-walks-heading-container {
  margin: 40px 0;
}

.featured-walks-link {
  color: var(--dark);
}

.featured-walks-link:hover {
  color: var(--blue);
}

.featured-walks-btn {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .featured-walks-btn {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

.featured-walks-h3-container {
  margin-top: 30px;
  width: 100%;
}

.featured-walks-h3 {
  background: var(--dark);
  display: inline-block;
  color: white;
  padding: 20px;
  font-weight: bold;
  min-width: 50%;
  border-radius: 50px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: all 0.4s;
}

@media (max-width: 767px) {
  .featured-walks-h3 {
    width: 100%;
    font-size: 18px;
    padding: 10px;
  }
}

.featured-walks-h3:hover,
.featured-walks-h3:focus,
.featured-walks-h3:active {
  background: transparent;
  border: 2px dashed grey;
  color: var(--dark);
}

@media (max-width: 991px) {
  .featured-walks-h3 {
    margin-bottom: 30px;
  }
}

hr {
  border: 1px solid var(--dark);
}

@media (max-width: 400px) {
  .featured-walks-link svg {
    display: none;
  }
}
