/* mdbreact corrections */

.carousel-container {
  min-width: 100%;
  padding: 0;
}

.z-depth-1 {
  box-shadow: none !important;
}

.carousel-inner {
  max-height: 400px;
}

.carousel-img {
  max-height: 400px;
}

/* end mdbreact corrections */
