.city-card {
  transition: transform 0.2s;
  /* Animation */
  background: var(--dark);
  /* background: blue; */
  color: white;
}

.view {
  background: var(--linear-blue);
}

.city-card:hover {
  transform: scale(1.05);
}