.section {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 991px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    grid-gap: 30px;
    padding: 30px 0;
  }
}
@media (max-width: 992px) {
  .grid-item-text-box {
    margin-bottom: 30px;
  }
  .grid-item-image-box {
    margin-bottom: 30px;
  }
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.4s;
  box-sizing: border-box;
  border: 2px solid transparent;
}

#grid-item-overlay {
  height: 100%;
  width: 100%;
}

.grid-item1 {
  grid-row: 1;
  grid-column: 1;
}

.grid-item2 {
  grid-row: 1;
  grid-column: 2;
}

.grid-item:hover,
.grid-item:active {
  background: transparent;
  color: var(--dark);
  cursor: pointer;
}

.grid-item-text-box {
  height: 100%;
  padding: 20px;
  text-align: left;
  background: var(--dark);
  color: white;
}

.grid-item-text-box:hover,
.grid-item-text-box:focus,
.grid-item-text-box:active {
  border: 2px dashed grey;
}

.grid-item-img {
  width: 100%;
  height: 100%;
}
