/** @format */

.footer {
  background-color: #212121;
}

/* removes bootstrap margin on footer */
.mt-4 {
  margin-top: 0 !important;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
}

.footer-ul > li > a:hover,
.footer-ul > li > a:focus,
.footer-ul > li > a:active {
  color: var(--blue);
}

@media (max-width: 777px) {
  .footer-site-links,
  .footer-extra-links {
    visibility: hidden;
    display: none;
  }
}
