/** @format */

.walk-heading-container {
  width: 100%;
  text-align: left;
}

.walk-heading {
  margin: 20px 0;
  font-family: var(--logo-font);
}

.author-info-container {
  width: 100%;
  text-align: left;
}

.social-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 20px;

  a {
    margin-right: 10px;
  }
}

#see-map-btn {
  position: fixed;
  bottom: 0;
  right: 1;
  left: 0;
  z-index: 10;
  background: var(--linear-blue) !important;
  color: var(--dark);
  border: 2px var(--dark) solid;
  transition: all 0.2s;
  transform-origin: bottom left;
}

#see-map-btn:hover {
  transform: scale(1.2);
  color: white;
}