/** @format */

#thread-box {
  background-color: var(--elegant-color-dark);
  color: white;
  margin-top: 1rem;
  padding: 30px;
}

.thread-container {
  background-color: #2e2e2e;
  padding: 30px;
}

.thread-box-title {
  font-family: var(--display-font);
  font-size: 30px;
}

.replies-h3-container {
  margin: 30px 0;
}

.reply {
  background: var(--blue);
  color: black;
  padding: 20px;
  margin: 5px;
}

#reply {
  color: white;
}

.show-all-replies-btn {
  margin: 30px 0;
}
