.nav-container {
  min-width: 100%; /* correct mdbreact max-width */
  padding: 0; /* correct mdbreact padding-left and padding-right of 15px*/
}

.nav-bar {
  background-color: var(--elegant-color-dark);
  color: white;
  box-shadow: none; /* remove mdbreact box-shadow*/
  font-family: "Comfortaa";
}

.logo {
  font-family: var(--logo-font);
  font-size: 150%;
}

@media (min-width: 768px) {
  .hamburger1 {
    visibility: hidden;
    display: none;
  }
}
