/** @format */

.section-a {
  width: 100%;
  max-width: 100%;
  /* height: 75vh; */
}

.grid-container-a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  grid-gap: 30px;
  padding: 30px 0;
}

@media (max-width: 650px) {
  .grid-container-a {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-height: 1400px) and (max-width: 1050px) {
  /* .section-a {
    height: 120vh;
  } */

  .grid-container-a {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 45%);
    font-size: 20px;
    margin-top: 1em;
  }
}

@media (max-width: 350px) {
  .grid-container-a {
    font-size: 16px;
  }
}

.grid-item-a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 1s;
}

#grid-item-overlay {
  /* height: 100%; */
  width: 100%;
}

.grid-item-a:hover,
.grid-item-a:active {
  background: #fffffe;
  color: #333333;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .grid-item-a {
    font-size: 55%;
  }
}

.grid-item-a-text-box {
  padding: 20px;
  text-align: center;
  background: var(--elegant-color-dark);
  color: white;
}

@media (max-width: 1050px) {
  .grid-item-a {
    padding: 10px;
  }
}

.grid-item-a-img {
  width: 100%;
  /* height: 100%; */
}

